# --------------------
# TERRAFORM
# --------------------
# Local .terraform directories
**/.terraform/*

# .tfstate files (Contains sensitive data!)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (Likely contain sensitive info)
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# --------------------
# PYTHON / FLASK (New additions)
# --------------------
# Compiled Python files (Junk)
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (If you run python locally)
venv/
env/
.venv/

# Environment Variables (CRITICAL SECURITY)
.env
.flaskenv

# Local Uploads (If testing uploads locally before S3)
uploads/
static/uploads/

# --------------------
# SECURITY & KEYS
# --------------------
# Generated SSH Keys
*.pem
id_rsa
id_rsa.pub


# --------------------
# IDE & OS JUNK
# --------------------
# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Mac OS
.DS_Store