name: "Terraform Infrastructure Deployment"

on: 
    push:
        branches:
            - main
    pull_request:

permissions:
    contents: read

jobs: 
    terraform:
        name: "Terraform"
        runs-on: ubuntu-latest
        steps:
            # 1. Checkout the code
            - name: Checkout
              uses: actions/checkout@v4

            # 2. Configure AWS Credentials
            # This reads your Repository Secrets and creates a secure file for Terraform
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.AWS_REGION }}

            # 2. Install Terraform
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.9.0" # Pin to a stable version

            # 3. Check formatting (Best Practice)
            - name: Terraform Format
              run: terraform fmt -check

            # 4. Initialize (Download Providers + Backend)
            - name: Terraform Init
              run: terraform init

            # 5. Plan (Show what will change)
            # We verify the plan on Pull Requests and pushes
            - name: Terraform Plan
              id: plan
              run: terraform plan -no-color
              continue-on-error: true


            # 6. Apply (Only on push to main)
            - name: Terraform Apply
              if: github.ref == 'refs/heads/main' && github.event_name == 'push'
              run: terraform apply -auto-approve


